.content {
    margin-top: 0.5rem;
    width: 100%;
}

.searchParams {
    margin-left: 1rem;
}

.question {
    margin-bottom: 15pt;
}

.question-author {
    font-size: 8pt;
    text-align: right;
}

.question-author img {
    height: 8pt;
    vertical-align: text-top;
}

.status {
    text-align: center;
    font-size: 10pt;
    color: #848d95;
    width: 10%;
}

.status .counts {
    font-size: 1.25rem;
}

.answered {
    border-radius: 5px;
    border: lightgreen solid;
    color: green;
}

.pages-skip {
    padding: .5rem .75rem;
}
